/* CSS */
.button-40 {
  background-color: #1e1e1e;
  /* border: 1px solid transparent; */
  border-radius: 0.75vw;
  border: solid black 0.15vw;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-size: 1.125rem; */
  font-weight: 600;
  /* line-height: 1.5rem; */
  /* padding: 0.75rem 1.2rem; */
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: auto; */
  /* width: 20vw; */
  font-size: 2vw;
  /* padding: 0.75vw 1.5vw; */
  width: 100%;
  height: auto;
}

.button-40:hover {
  background-color: #1e1e1ec0;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.button-40:active {
  transform: translateY(2px);
  transition-duration: 0.05s;
  color: rgb(184, 86, 0);
}

/* @media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
} */
